{% extends 'base.html' %} {% load static %}

{% block head %}
<link
  rel="stylesheet"
  href="{% static 'css/movies/movie-index.css' %}"
/>
{% endblock %}

{% block content %}

<section class="card-container">
  {% for movie in movies %}
  <div class="card">
    <a href="{% url 'movie-detail' movie.id %}">
    <div class="card-content">
      <div class="card-img-container">
        <img
          src="{% static 'images/popcorn-theatre.jpg' %}"
          alt="movie image"
        />
      </div>
      <div class="movie-info">
      <h2 class="'movie-title"><strong> {{ movie.name }} </strong></h2>
      <p class="movie-genre"> <strong>{{ movie.genre }}</strong> </p>
      <p class="movie-details"> <strong> {{ movie.director }}, {{ movie.year }} </strong></p>
      <p class="movie-description"><em> {{ movie.description }} </em></p>
    </div>
    </a>
    </div>
  </div>
  {% endfor %}
</section>

{% endblock %}
