@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Mono+One&family=Sarina&display=swap');

html {
  box-sizing: border-box;
  font-size: 1.3em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-image: url('{% static "images/cinemaseats.jpg" %}');
  background-size: cover; 
  background-position: center center; 
  background-attachment: fixed; 
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.5);
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1; 
}

header {
  width: 100%;
  background: rgb(52, 117, 245);
  border-bottom: white;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 10px 20px; 
  z-index: 1;
}

.header-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.header-logo-container img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin-top: 15px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #f7d61b;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff6a00;
}

main {
  width: 100%;
  max-width: 1200px;
  padding: 30px;
  margin-top: 30px;
  flex-grow: 1;
}

.page-background, main {
  position: relative;
  background-image: url('https://cdn.pixabay.com/photo/2015/06/02/00/54/pink-794507_1280.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 30px;
  width: 100%;
  height: 100%;
  z-index: 0;
}


@media only screen and (min-width: 768px) {
  main {
      padding: 50px;
  }
}

#logout-form button {
  text-decoration: none;
  color: #fff; 
  font-weight: 600;
  font-size: 16px;
  background-color: #de36f4; 
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-family: 'Lato', sans-serif;
  display: inline-block;
}

#logout-form button:hover {
  background-color: #620257; 
  transform: translateY(-3px);
}

#logout-form button:active {
  background-color: #b71c1c; 
  transform: translateY(0); 
}

#logout-form button:focus {
  outline: 2px solid #f7d61b;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}
