@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Rubik+Mono+One&family=Sarina&display=swap');

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: center;
}

.logo-container {
  margin-bottom: 30px;
}

.Page-logo {
  width: 700px; 
  height: 50vh; 
  object-fit: cover;  
  margin-bottom: 20px;
  border-radius: 22px;
}

.home-screen-title {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 42px;
  font-weight: 400;
  color: blue;
}

.Page-logo:hover {
  transform: scale(1.1);
}

